@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}

body{
    font-family: var(--font-family) !important;
}
.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    color: black;
    text-decoration: none;
}
.product:hover
{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
}

.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--main-color);
}
.bg-maiin
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}
.footer-bg{
  background-color: #F8F9FA;
}
.bg-main{
  background-color: #0AAD0A;
  width: 150px;
  height: 40px;
  border: 2px solid #0AAD0A;
  border-radius: 5px;
  cursor: pointer;
}
.star-color{
  color: yellow;
}
.bg-main2{
  background-color: #0AAD0A;
 padding: 10px 24px;
  border: 2px solid #0AAD0A;
  border-radius: 5px;
  cursor: pointer;
  color:white;
}
.bg-main3{
    background-color: #0AAD0A;
     width: 600px;
     height: 50px;
    border: 2px solid #0AAD0A;
    border-radius: 5px;
    cursor: pointer;
    color:white;
  }
.bg-wish{
    padding: 10px 8px;
    background-color: white;
   color: black;
  cursor: pointer;
}

  .bg-main2:hover{
      background-color:#0AAD0A ;
      color:white;
  }


